pydantic
bittensor==7.4.0
psutil
GPUtil
inflect
huggingface_hub
librosa
torchaudio
scipy
#git+https://github.com/facebookresearch/audiocraft.git
-e git+https://github.com/namoray/fiber.git
transformers
datasets
wandb
laion_clap